.container{
    padding-top: 10%;
    width: 60%; height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}
 body{
    backdrop-filter: blur(8px);
 }
 header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: antiquewhite ;
    color:#F9577E;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'papyrus';
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}
a{
    color:#F9577E;
}
a :hover