body {
    background-image:url("./project-photo-2.avif") ;
    background-size: cover;
    height: 100%;
    margin: 0%;
}

.frontPage{
    text-align: center;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'papyrus';
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:antiquewhite;
    color:#F9577E;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color:#F9577E;
}
.about{
    color: antiquewhite;
    text-align: center;
    border: #F9577E;
    border-width: 10px;
    border-style: solid;
    background-color: #F9577E;
    line-height: 2em;
    width: 50%;
}
.navbar{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

