body {
    display: flex;          
    justify-content: center;
    align-items: center;    
    min-height: 100vh;      
    backdrop-filter: blur(8px);
    margin: 0;              
}

.container {
    width: 60%;             
    padding: 20px;          
    display: flex;          
    flex-direction: column; 
    align-items: center;    
    gap: 20px;              
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: antiquewhite ;
    color:#F9577E;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'papyrus';
    text-transform: capitalize;
    transition: 2s linear;
}

input, select, textarea {
    width: 100%;            
    padding: 8px;          
    margin-top: 4px;        
}

form {
    display: flex;          
    flex-direction: column; 
    width: 100%;           
}

h1, h2 {
    text-align: center;     
    width: 100%;         
}

label {
    width: 100%;    
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: #F9577E; 
    text-decoration: none; 
}